footer
{
    background-color: #353535;
    color: $colour-quaternary;
    @include flex-column;

    h1
    {
        font-family: $shrikhand;
        color: $colour-quaternary;
    }

    ul
    {
        list-style-type: none;
        font-family: $roboto;
    }
}