header
{
    display: flex;

    #logo
    {
        background-color: $colour-quaternary;
        box-shadow: 0px 3px 4px #cecece;
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    h1
    {
        font-family: $shrikhand;
        color: black;
        font-size: 1.6rem;
        padding: 8px 0 5px 0;
        text-align: center;
    }
}




