body
{
    margin: 0;
    font-size: 14px;
}

a
{
    text-decoration: none;
    color: $colour-quinternary;
}

/* En-tête des pages */
header
{
    @include shadow-box;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1
    {
        font-family: $shrikhand;
        color: black;
        font-size: 1.6rem;
        padding: 8px 0 5px 0;
        text-align: center;
    }

    /* En tête avec flèche retour */
    #logo > a > .fas
    {
        color: $colour-quinternary;
    }

    .fas
    {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 10px;
        top: 28%;
    }
}

