@import url("//fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
}

header {
  box-shadow: 0px 3px 4px #CFCFCF;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "shrikhand", serif;
  color: black;
  font-size: 1.6rem;
  padding: 8px 0 5px 0;
  text-align: center;
}
header #logo > a > .fas {
  color: #000000;
}
header .fas {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 28%;
}

#underheader {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

#search {
  background-color: #EAEAEA;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  color: #4b4b4b;
}
#search .gps-loc {
  display: flex;
  margin-left: 70px;
}
#search input#site-search.input-search {
  background-color: #EAEAEA;
  border: none;
  font-weight: bold;
  margin-left: 13px;
}
#search input:focus {
  outline: none;
  border: 1px solid #EAEAEA;
}

#excavate-menus {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #f6f6f6;
}
#excavate-menus h2 {
  font-weight: bold;
  font-size: 20px;
}
#excavate-menus p {
  font-size: 17px;
  margin: 15px 0px 25px 0px;
}
#excavate-menus .rechercher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 3px 4px #CFCFCF;
  padding: 15px 20px 15px 20px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  margin: 20px 0px 38px 0px;
  cursor: pointer;
}

#tuto {
  padding: 20px 0px;
}
#tuto .tutoparts {
  display: flex;
  flex-direction: column;
}
#tuto .tutoelements {
  display: flex;
  flex-direction: column;
}
#tuto h2 {
  display: flex;
  margin-bottom: 1px;
  margin-top: 10px;
}
#tuto ol {
  width: 100%;
  padding: 0px 5px;
  counter-reset: tutorial;
  display: flex;
  flex-direction: column;
}
#tuto li {
  list-style-type: none;
  counter-increment: tutorial;
  margin-bottom: 10px;
}
#tuto li:before {
  content: counter(tutorial);
  content: counter(tutorial);
  background-color: #9356dc;
  color: white;
  padding: 3px 8px;
  border-radius: 420px;
  margin-left: -10px;
}
#tuto .element1 {
  padding: 15px 0px;
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 0px 3px 4px #CFCFCF;
  margin: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
#tuto .element1 i {
  margin: 0 10px 0 10px;
}
#tuto .element2 {
  padding: 15px 0px;
  background-color: #f2eafb;
  position: relative;
  box-shadow: 0px 3px 4px #CFCFCF;
  margin: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
#tuto .element2 i {
  margin: 0 10px 0 10px;
  color: #9356DC;
}

.menus_elements img {
  object-fit: cover;
  width: 21rem;
  height: 10rem;
  border-radius: 1rem 1rem 0 0;
}

/*# sourceMappingURL=styles.css.map */
