.foodelements
{
@include flex-column;
gap: 15px;
}

.foodbox
{
    background-color: $colour-quaternary;
    box-shadow: 2px 3px 1px 0px $colour-shadow;
    border-radius: 15px;
    padding: 0px;
    height: 68px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include flex-row;
    animation-duration: 3s;
    animation: testSlide 1.0s;
    animation-delay: 2.9s;

        .menu-prop
        {
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            overflow: hidden;

            .pres-menu
            {
                color: $colour-quinternary;
                @include flex-column;
                gap: 5px;
                overflow: hidden;

                    h3
                    {
                        font-size: 12px;
                    }

                    p
                    {
                        font-size: 10px;
                        margin: 0px;
                    }
            }

            .pres-menu > *
            {
                @include ellipsis;
            }

            .price
            {
                display: flex;
                color: $colour-quinternary;
                align-items: flex-end;
                margin-bottom: 1rem;
                margin-right: 1rem;
                margin-top: 1rem;
                max-width: 100%;
                margin-left: 0.5rem;

                p
                {
                    font-size: 12px;
                }
            }
        }

        .checking
        {
            width: 7rem;
            background: $colour-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -7rem;
            transition-duration: 1.0s;
            transition-timing-function: ease;
        }

        &:hover .checking
        {
            margin-right: 0px;
            transition-duration: 1.0s;
            transition-timing-function: ease;
        }

        &:hover i
        {
            transform: rotate(360deg);
            transition-duration: 1.0s;
        }

        .checking > i
        {
            color: $colour-tertiary;
            padding: 0.5rem;
            border-radius: 50%;
            background: $colour-quaternary;
            transition-duration: 1.0s;
       }
}
