.foodelements
{
@include flex-column;
gap: 15px;
}

.foodbox
{
    background-color: $colour-quaternary;
    box-shadow: 2px 3px 1px 0px $colour-shadow;
    border-radius: 15px;
    padding: 0px;
    height: 68px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    &:hover .checking
    {
        position: relative;
        background-color: $colour-tertiary;
        width: 30%;
        opacity: 1;
        visibility: visible;
        border-radius: 0 15px 15px  0;
        height: 100%;
        z-index:1;

        i
        {
            font-size: 30px;
            color: white;
            transform: rotate(180deg);
            animation: rotate 0.5s both;
        }
    }

    .checking
    {
        background-color: $colour-tertiary;
        display: flex;
        justify-content:center;
        width: 0%;                
        border-radius: 0 15px 15px  0;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.8s;
        z-index:1;

        i
        {
            padding: 15px;
            font-size: 30px;
            color: white;
        }
    }
}
.menu-prop
{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pres-menu
    {
        color: $colour-quinternary;
        @include flex-column;
        gap: 5px;

            h3
            {
                font-size: 12px;
            }

            p
            {
                font-size: 10px;
                margin: 0px;
            }
    }

    .pres-menu > *
    {
        @include ellipsis;
    }

    .price
    {
        color: $colour-quinternary;
        padding: 10px;
        text-align: end;

        p
        {
            font-size: 12px;
        }
    }
}