/* Ensemble de la page */
#underheader
{
    font-family: $roboto;
    font-size: 100%;
}

/* Recherche localisation de restaurants */
#search
{
    background-color: $colour-sexternary;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    color: #4b4b4b;

    .gps-loc
    {
        display: flex;
        margin-left: 70px;
    }

    input#site-search.input-search
    {
        background-color: $colour-sexternary;
        border: none;
        font-weight: bold;
        margin-left: 13px;
    }

    input:focus
    {
        outline: none;
        border: 1px solid $colour-sexternary;
    }
}

/* En-tête avec boutons */
#excavate-menus
{
    @include flex-column;
    text-align: center;
    padding: $padding-medium;
    background-color: #f6f6f6;
    
    h2
    {
        font-weight: bold;
        font-size: $sizingfont;
    }

    p
    {
        font-size: 17px;
        margin: 15px 0px 25px 0px;
    }

    .rechercher
    {
        @include flex-row;
        justify-content: center;
        font-weight: bold;
        color: $colour-quaternary;
        border-radius: 40px;
        border: none;
        @include shadow-box;
        padding: 15px 20px 15px 20px;
        background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
        margin: 20px 0px 38px 0px;
        cursor: pointer;
    }
    
}

/* Partie fonctionnement */
#tuto
{
    padding: 20px 0px;

    .tutoparts
    {
      @include flex-column;  
    }

    .tutoelements
    {
        @include flex-column;
    }

    h2
    {
        display: flex;
        @include titles-margins;
    }

    ol 
    {
        width: 100%;
        padding: 0px 5px;
        counter-reset: tutorial;
        @include flex-column;
    }
    
    li
    {
        list-style-type: none;
        counter-increment: tutorial;
        margin-bottom: 10px;
    }

    li:before
    {
        content: counter(tutorial);
        @include plot;
        margin-left: -10px;
    }

    .element1
    {
    padding: 15px 0px;
    background-color: #f6f6f6;
    position: relative;
    @include shadow-box;
    margin: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

        i 
        {
            margin: 0 10px 0 10px;
        }

    }

    .element2
    {
    padding: 15px 0px;
    background-color: $light-primary-color;
    position: relative;
    @include shadow-box;
    margin: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

        i 
        {
            margin: 0 10px 0 10px;
            color: $colour-primary;
        }

    }

}

/* Liste de menus */
#restaurants
{
    background-color: $colour-sexternary;
    @include flex-column;
    @include shadow-box;
    padding: $padding-medium;

    h2
    {
        display: flex;
        font-weight: bold;
    }

    .elements
    {
        @include flex-column;
        gap: 15px;
    }

    .menus_elements
    {
        position: relative;
        @include flex-column;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
    }

    .menus_elements img
    {
        @include flex-column;
        object-fit: cover;
        width: 100%;
        height: 10rem;
        border-radius: 15px 15px 0px 0px;
    }

    .menus_elements span
    {
        display: flex;
        align-items: center;
        position: absolute;
        background-color: $colour-tertiary;
        padding: 5px 10px;
        top: 15px;
        right: 15px;
        border-radius: 4px;
        color: $darken-tiertiary-color;
    }

    .pres-menu
    {
        background-color: $colour-quaternary;
        color: $colour-quinternary;
        margin-top: -2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90%;
        border-radius: 0px 0px 15px 15px;
    }

    .pres-menu > .text 
    {
        padding: 15px;
        gap: 5px;
        @include flex-column;
    }
    .pres-menu h3 
    {
        font-weight: bold;
        margin: 0px;
    }

    .pres-menu p 
    {
        margin: 0px;
    }

    .pres-menu > .like
    {
        position: relative;
        width: 15%;
    }
}

