@keyframes spin 
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    }
}


@keyframes load
{
    0%
    {
        opacity: 1;
        z-index: 1;
    }

    50%
    {
        opacity:1;
        z-index:1;
    }

    100%
    {
       opacity: 0;
       z-index: -1;
    }
}

@keyframes testSlide 
{
    from
    {
      width: 0%;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
    }

    to
    {
      width: 100%;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
    }
}

@keyframes shadowbutton
{
	
    from
    {
	    box-shadow: 3px 3px 3px 3px $colour-shadow;
	}
	
    to
    {
	    box-shadow: 5px 5px 5px 5px $colour-shadow;
	}
	
}