@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin shadow-box {
    box-shadow: 0px 3px 4px $colour-shadow;
}

@mixin plot {
    content: counter(tutorial);
    background-color: #9356dc;
    color: white;
    padding: 3px 8px;
    border-radius: 420px;
}

@mixin titles-margins {
    margin-bottom: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

@mixin title {
    padding: 10px 5px 10px 5px;
    font-size: 15px;
}


@keyframes spin 
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    }
}


@keyframes load
{
    0%
    {
        opacity: 1;
        z-index: 1;
    }

    50%
    {
        opacity:1;
        z-index:1;
    }

    100%
    {
       opacity: 0;
       z-index: -1;
    }
}

@keyframes heartfull
{
    from
    {
        background: $colour-primary;
    }

    to 
    {
        background: $colour-secondary;
    }
}