// Colors

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary: #FFFFFF;
$colour-quinternary: #000000;
$colour-sexternary: #EAEAEA;
$colour-shadow: #CFCFCF;

$light-primary-color: lighten(#9356DC,35%);
$darken-primary-color: darken(#9356DC, 10%);
$darken-tiertiary-color: darken(#99E2D0,35%);
// Sizes

$padding-small: 1px;
$padding-medium: 10px;
$sizingfont: 20px;