// Colors

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary: #FFFFFF;
$colour-quinternary: #000000;
$colour-sexternary: #EAEAEA;
$colour-shadow: #CFCFCF;

// Sizes

$padding-small: 1px;
$padding-medium: 15px;
$sizingfont: 20px;